javascript/node_modules/
javascript/.env
javascript/dist/
javascript/build/
javascript/.parcel-cache/
javascript/.next/
javascript/.vite/

python/__pycache__/
python/*.pyc
python/env/
python/.env
python/.venv/
python/.mypy_cache/
python/.pytest_cache/
python/.vscode/

.vscode/

.DS_Store
Thumbs.db
