backend/javascript/node_modules/
backend/javascript/.env
backend/javascript/dist/
backend/javascript/build/
backend/javascript/.parcel-cache/
backend/javascript/.next/
backend/javascript/.vite/

backend/python/__pycache__/
backend/python/*.pyc
backend/python/env/
backend/python/.env
backend/python/.venv/
backend/python/.mypy_cache/
backend/python/.pytest_cache/
backend/python/.vscode/

.vscode/

